<hr>
<h2 style="text-shadow:2px 1px 3px darkblue;">Bulid-in Pipe</h2>
<hr>
<h5>Tag Line : {{TagLine}}</h5>
<h5>Lower Case : {{TagLine | lowercase}}</h5>
<h5>Upper Case : {{TagLine | uppercase}}</h5>
<h5>Title Case : {{TagLine | titlecase}}</h5>

<hr>

<h5>Transfered Fees : {{Fees}}</h5>
<h5>Fees in Rupees : {{Fees | currency:'INR'}}</h5>
<h5>Fees in Doller : {{Fees | currency:'USD'}}</h5>
<h5>Fees in Euro : {{Fees | currency:'EUR'}}</h5>

<hr>

<h5>Today's Date : {{TodaysDate}}</h5>
<h5>Custom Format : {{TodaysDate | date:'dd-MM-yyyy'}}</h5>
<h5>Custom Format : {{TodaysDate | date:'dd-MMM-yyyy'}}</h5>
<!-- <h5>Custom Format : {{TodaysDate | date:'d-MM-YY'}}</h5> -->
<hr>