<h1 style="background-color:aqua;">Assignment2</h1>

<!-- <h4>Display : {{Output}}</h4>
<button (click)="onSubmit()">Submit</button> -->

            <h4>Society Information : </h4>
        <br>
        <div>
            <p>Contact Name : {{Output?.contactname}}</p>
            <p>Contact Address : {{Output?.contactaddress}}</p>
            <p>Contact Phone : {{Output?.contactphone}}</p>
            <p>Area Code : {{Output?.areacode}}</p>
            <p>Society Name : {{Output?.society}}</p>
        </div>
        <br>
        <button class="btn btn-primary" (click)="Display()">Submit</button>




