<hr>
<h1>About</h1>
<hr>
<h3>Who Are We?</h3>
<p>ThinkQuotient Software Private Limited (TQ) is a versatile company having a multiple product & service 
    portfolio. Our main service is to provide highly trained resources to reputed companies in India. We take
     pride in catering to a variety of customers like Students, Corporate, Institutes, and Universities. True
      to the quote, ThinkQuotient has never looked back since its establishment in 2015. Under the able 
      leadership of Pranav Brahme (Founder and CEO), ThinkQuotient has grown from a team of 3 to a team of 
      40 employees. The determination, vision and teamwork that artisans have put in is the sole reason for 
      the company's exponential growth.

    We provide 100% job guarantee to our students by enhancing their technical skills through our placement 
    programs. We teach our students coding in highly demanded programing languages along with a providing 
    perfect blend of soft skills allowing them to crack interviews of top IT companies in India. Our main 
    highlight is our Earn & Pay program where in the student pays for his training fees only after he gets 
    placed which is highly beneficial for the students to manage their finances.</p>

<h3>What's Behind the Name 'ThinkQuotient'?</h3>
<p>An Organization's name should give a glimpse of what the business is about. The name serves as a doorway 
    to the business. With that in mind, the company “ThinkQuotient Software Pvt Ltd” was named as 
    “ThinkQuotient” which represents a combination of cognitive intellectual skills, logical reasoning, and 
    analytical skills.

    Our business is all about intelligence. Be it building intelligence of a student through our ‘TQ-DP’ 
    program, testing the intelligence of a student through our assessment tool ‘TAP’ or applying cognitive
     intellectual skills, logical reasoning, and analytical skills in our projects to deliver outstanding 
     results, intelligence plays a massive role. We feel very proud to have a team of intelligent developers,
      marketers, trainers and creative minds who never fail to do justice with the name of the company!</p>


