<h4>New Product Form</h4>
<form #frmProduct="ngForm" (ngSubmit)="onSubmit(frmProduct)">
    <div class="form-group">
        <label>Product Id</label>
        <input type="text" class="form-control" required name="productid" ngModel/>
    </div>
    <div class="form-group">
        <label>Product Name</label>
        <input type="text" class="form-control" name="productname" ngModel/>
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="text" class="form-control" name="price" ngModel/>
    </div>
    <div class="form-group">
        <label>Quantity</label>
        <input type="text" class="form-control" name="quantity" ngModel/>
    </div>
    <div class="form-group">
        <label>Status</label>
        <input type="text" class="form-control" name="status" ngModel/>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit" >Submit</button>
    </div>
</form>