<hr>
<div>
<form [formGroup]="EmpForm" (ngSubmit)="Submit()">
<div>
    <label>Employee ID : </label>
    <br>
    <input type="text" class="form-control" placeholder="Employee ID..." formControlName="empid">
</div>
<div>
    <label>Employee Name : </label>
    <br>
    <input type="text" class="form-control" placeholder="Employee Name..." formControlName="empname">
</div>
<div>
    <label>Salary : </label>
    <br>
    <input type="text" class="form-control" placeholder="Salary..." formControlName="empsalary">
</div>
<br>
<div>
    <button class="btn btn-primary">Submit</button>
</div>
</form>
</div>