<hr>
<h1>Home</h1>
<hr>
<h3>Warm welcome to ThinkQuotient, best placement services in India for students and job seekers.</h3>
<p>We provide 100% job guarantee to our students by enhancing their technical skills through our placement 
    programs. We teach our students coding in highly demanded programing languages along with a providing 
    perfect blend of soft skills allowing them to crack interviews of top IT companies in India.
    So what are you waiting for! Fill the form and know more about our placement training courses.</p>

<h3>THINK QUOTIENT’S DEVELOPER PROGRAM</h3>
<p>Think Quotient offers 'Think Quotient's Developer Program' for all IT job aspirates and fresher looking 
    forward to build career in software development. 
        This program is designed based on the IT industry standards and the carriculum meets the requirments of
    IT industry. Ready to work resources can get opportunities to work as a "Software Developer" with 3L + CTC
    Think Quotient offers 100% placement or else 100% fees refund.
        Students can avail of loan facility. We have lunched our "Earn & Pay" program where are students can
    start the training with "Zero Training Fee" & the training fees can be paid after getting placed.    
</p>

