<hr>
<h1 style="text-align:center;background-color:lightgray;">Assignment 2</h1>
<hr>
<h5>Product List</h5>
<div class="row">
    <div class="col-6">
        <table class="table table-striped">
            <th>Product Id</th>
            <th>Product Name</th>
            <th>price</th>
            <th>Quantity</th>
            <th>Status</th>
            <tr *ngFor="let product of ProductData">
                <td>{{product.productid}}</td>
                <td>{{product.productname}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.status}}</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <app-addproduct (EventProductUpdate)="onProductUpdate($event)"></app-addproduct>
    </div>
</div>