    <div>
    <h4>Assignment2</h4>
    <p *ngIf="ShowMe">Show</p>
    <button class="btn btn-primary" (click)="onToggle()">Toggle</button>
    </div>

    <!-- <mat-button-toggle-group #toggleBtn="matButtonToggleGroup">
        <mat-button-toggle value="Toggle button1">
            Toggle Button1
        </mat-button-toggle>
        <mat-button-toggle value="Toggle Button2">
            Toggle Button2
        </mat-button-toggle>
    </mat-button-toggle-group>
    <br>
    Your choice : {{toggleBtn.value}} -->
    
<hr>