<hr>
<h1>Web Devlopment</h1>
<hr>
<h3>Web Developer tools support</h3>
<p>Several notable web browsers have support for web developer tools that allow web designers and developers 
    to look at the make-up of their pages. These are all tools that are built into the browser and do not 
    require additional modules or configuration.
<br>
    Firefox – F12 opens the Web Console / Browser Console (since Firefox 4).The Web Console applies to a 
    single content tab; the Browser Console applies to the whole browser.Many addons also exist, including 
    Firebug.</p>
<ul>
    <li>Google Chrome – Chrome Developer Tools (DevTools)</li>
<br>
    <li>Internet Explorer and Microsoft Edge – F12 opens Web Developer Tools (as of version 8)</li>
<br>
    <li>Opera – Opera Dragonfly</li>
<br>
    <li>Safari – Safari Web Development Tools (as of version 3)</li>

</ul>

<h2>Most used Features</h2>
<h3>HTML and the DOM</h3>
<p>HTML and DOM viewer and editor is commonly included in the built-in web development tools. The difference 
    between the HTML and DOM viewer, and the view source feature in web browsers is that the HTML and DOM 
    viewer allows you to see the DOM as it was rendered in addition to allowing you to make changes to the 
    HTML and DOM and see the change reflected in the page after the change is made.
    In addition to selecting and editing, the HTML elements panels will usually also display properties of 
    the DOM object, such as display dimension, and Cascading- style sheet properties.</p>

<h3>Web page assets, resources and network information</h3>
<p>Web pages typically load and require additional content in the form of images, scripts, font and other 
    external files. Web development tools also allow developers to inspect resources that are loaded and 
    available on the web page in a tree-structure listing, and the appearance of style sheets can be tested 
    in real time. Web development tools also allow developers to view information about the network usage, 
    such as viewing what the loading time and bandwidth usage are and which HTTP headers are being sent and 
    received.</p>

<h3>Profiling and Auditing</h3>
<p>Profiling allows developers to capture information about the performance of a web page or web application. 
    With this information developers can improve the performance of their scripts. Auditing features may 
    provide developers suggestions, after analyzing a page, for optimizations to decrease page load time and
     increase responsiveness. Web development tools typically also provide a record of the time it takes to 
     render the page, memory usage, and the types of events which are taking place.</p>

<h3>JavaScript debugging</h3>
<p>JavaScript is commonly used in web browsers. Web development tools commonly include a panel to debug 
    scripts by allowing developers to add watch expressions, breakpoints, view the call stack, and pause, 
    step over, step into, and step out of functions while debugging JavaScript. A JavaScript console is 
    commonly included. The consoles allow developers to type in JavaScript commands and call functions, or 
    view errors that may have been encountered during the execution of a script</p>