<h3 style="background-color:lightgray;">Day 13 Assignment4</h3>
<div class="container" style="text-align: center;">
    <h5 style="background-color: rgb(245, 196, 238)">Assignment 4</h5><br><br>
    <div>
        <ul style="list-style-type:none">
            
                <li [ngClass]="{'bg-success':arrNum[0]===10}">{{arrNum[0]}}</li>
                <li [ngClass]="{'bg-danger':arrNum[1]===20}">{{arrNum[1]}}</li>
                <li [ngClass]="{'bg-warning':arrNum[2]===30}">{{arrNum[2]}}</li>
                <li [ngClass]="{'bg-dark text-white':arrNum[3]===40}">{{arrNum[3]}}</li>

        </ul>
    </div>

</div>