<h1>Day 13 Assignment4</h1>
<div ng-class="display">
    <div class="row">
        <div class="col-sm-12 bg-success text-white">
            <h6 style="text-align:center;">10</h6>
        </div>
        <div class="col-sm-12 bg-danger text-white">
            <h6 style="text-align:center;">20</h6>
        </div>
        <div class="col-sm-12 bg-warning text-white">
            <h6 style="text-align:center;">30</h6>
        </div>
        <div class="col-sm-12 bg-dark text-white">
            <h6 style="text-align:center;">40</h6>
        </div>
    </div>
    
</div>