<hr>
<h1>Mobile App</h1>
<hr>
<h3>What does it mean?</h3>
<p>A mobile app is a software application developed specifically for use on small, wireless computing devices,
    such as smartphones and tablets, rather than desktop or laptop computers. Apps were originally intended 
    for productivity assistance such as email, calendar, and contact databases, but the public demand for apps
     caused rapid expansion into other areas such as mobile games, factory automation, GPS and location-based
      services, order-tracking, and ticket purchases, so that there are now millions of apps available. Many
       apps require Internet access. Apps are generally downloaded from app stores, which are a type of 
       digital distribution platforms.</p>

<h3>Types</h3>
<h5>Native App</h5>
<p>All apps targeted toward a particular mobile platform are known as native apps. Therefore, an app intended
     for Apple device does not run in Android devices. As a result, most businesses develop apps for multiple
      platforms. While developing native apps, professionals incorporate best-in-class user interface modules.
       This accounts for better performance, consistency and good user experience. Users also benefit from 
       wider access to application programming interfaces and make limitless use of all apps from the 
       particular device. Further, they also switch over from one app to another effortlessly.</p>

<h5>Web-based App</h5>
<p>A web-based app is implemented with the standard web technologies of HTML, CSS, and JavaScript. Internet 
    access is typically required for proper behavior or being able to use all features compared to offline 
    usage. Most, if not all, user data is stored in the cloud. The performance of these apps is similar to a 
    web application running in a browser, which can be noticeably slower than the equivalent native app. It 
    also may not have the same level of features as the native app.</p>

<h5>Hybrid App</h5>
<p>The concept of the hybrid app is a mix of native and web-based apps. Apps developed using Apache Cordova, 
    Flutter, Xamarin, React Native, Sencha Touch, and other frameworks fall into this category. These are made
     to support web and native technologies across multiple platforms. Moreover, these apps are easier and 
     faster to develop. It involves use of single codebase which works in multiple mobile operating systems.
    Despite such advantages, hybrid apps exhibit lower performance. Often, apps fail to bear the same 
    look-and-feel in different mobile operating systems.</p>


